$basePinkBg: rgb(236, 75, 164);
$baseWhiteBg: white;

$pinkBg: rgb(255, 0, 191);
$brownBg: rgb(197, 62, 62);
$milkyBg: #f3f3f3;
$orangeBg: rgb(230, 149, 0);
$greenBg: rgb(1, 175, 1);
$blueBg: rgb(58, 150, 255);
$redBg: rgb(255, 41, 41);

$lightBlack: rgb(44, 44, 44);

$itemRadius: 6px;

$baseHover: #d6d6d6;

$baseBoxShadow: 0px 3px 3px rgba(0, 0, 0, 0.459);