* {
  padding: 0;
  margin: 0;
}

body {
  font-family: tahoma;
}

#main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ec4ba4), color-stop(50%, white));
  background: linear-gradient(#ec4ba4 50%, white 50%);
}

.loading {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  right: 0;
  margin: 100px auto  0px auto;
  border: 80px solid #ec4ba4;
  border-top: 80px solid white;
  border-bottom: 80px solid white;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  -webkit-animation: spin 0.4s linear infinite;
          animation: spin 0.4s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  max-width: 1024px;
}

.container-title {
  text-align: center;
  color: #2c2c2c;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 24px;
}

.stats-container {
  background-color: #f3f3f3;
  width: 80%;
  margin: 10px auto;
  border-radius: 20px;
  padding: 30px 20px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.459);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.459);
}

.search-container {
  margin: 0px auto 10px auto;
  width: 40%;
  background-color: #f3f3f3;
  padding: 15px 40px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.459);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.459);
}

.search-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#search-bar {
  border-style: none;
  border-radius: 6px;
  width: 75%;
  padding: 10px;
  margin: 10px 0px;
  font-size: 1.3rem;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

#search-bar:hover {
  background-color: #d6d6d6;
}

#search-btn {
  border-style: none;
  margin-left: 8px;
  padding: 18px;
  border-radius: 10%;
  color: #2c2c2c;
  font-size: 2rem;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

#search-btn:hover {
  background-color: #d6d6d6;
}

.search-error {
  color: #d30e00;
  text-align: center;
  font-weight: bold;
}

.stats-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.stats-item {
  padding: 18px 16px 24px 16px;
  border-radius: 6px;
  color: #f3f3f3;
}

.stats-title {
  font-size: 0.95rem;
}

.stats-item-icon {
  font-size: 2rem;
}

.stats-number {
  padding-top: 10px;
  font-size: 2rem;
}

.active-cases {
  background-color: #3a96ff;
}

.critical-cases {
  background-color: #ff2929;
}

.recovered-cases {
  background-color: #01af01;
}

.total-cases {
  background-color: #c53e3e;
}

.total-deaths {
  background-color: #ff00bf;
}

.total-tests {
  background-color: #e69500;
}

@media screen and (max-width: 468px) {
  .loading {
    margin: 150px auto  0px auto;
    border: 50px solid #ec4ba4;
    border-top: 50px solid white;
    border-bottom: 50px solid white;
    border-radius: 50%;
    width: 160px;
    height: 160px;
  }
  #container {
    min-height: 100vh;
    max-width: 468px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 30px 0px;
  }
  .container-title {
    font-size: 1.2rem;
  }
  .stats-container {
    width: 85%;
    border-radius: 20px;
    padding: 30px 15px;
  }
  .search-container {
    width: 85%;
    padding: 10px 10px;
  }
  #search-bar {
    width: 80%;
    font-size: 1.2rem;
  }
  #search-btn {
    margin: 0px 0px 0px 8px;
    padding: 0px 15px;
    font-size: 1.8rem;
    border-radius: 0%;
  }
  #search-btn:hover {
    background: none;
  }
  .search-error {
    font-size: 0.75rem;
  }
  .stats-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 5px 12px;
  }
  .stats-item {
    margin-top: 8px;
  }
  .stats-title {
    font-size: 0.95rem;
  }
  .stats-item-icon {
    font-size: 1.8rem;
  }
  .stats-number {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=style.css.map */